body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    background-color: rgb(60, 62, 72);
    box-shadow: -163px -75px 136px 6px rgba(13,13,13,0.75) inset;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}