.center-column > .links-wrapper > .dropdown {
    position: relative;
    display: inline-block;
}

.center-column > .links-wrapper > .dropdown > .dropbtn {
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    background-color: rgb(0, 0, 0);
    color: rgb(179, 179, 179);
    padding: 10px 10px 10px 50px;
    border: none;
}

.center-column > .links-wrapper > .dropdown > .dropbtn i {
    padding: 0px 0px 0px 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 100%;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(179, 179, 179);
    font-size: 1em;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: rgb(255, 255, 255)
}

.dropdown:hover .dropdown-content {
    display: block;
    white-space: nowrap;
}