/* Common nav styles */
.navigation-wrapper {
    height: 1px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    /* Flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 2px 50px 20px;
}

/* Left column styles */
.navigation-wrapper > .left-column > .logo img {
    width: 150px;
    height: 100%;
    padding: 10px 30px 10px 0px;
}

/* Center column styles */
.navigation-wrapper > .center-column {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-gap: -5px;
}

.navigation-wrapper > .center-column > .nav-links-title {
    font-family: "Raleway", sans-serif;
    color: rgb(244, 225, 135);
    text-transform: uppercase;
    font-weight: 550;
    text-align: left;
}

.navigation-wrapper > .center-column > .links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper > .nav-link a {
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    letter-spacing: -0.5px;
    font-weight: 800;
    text-decoration: none;
    transition: 0.5s;
}

.links-wrapper > .nav-link a:hover {
    color: rgb(244, 225, 135);
    font-size: 1.8em;    
}

/* Right Column */
.navigation-wrapper > .right-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-wrapper > .right-column button {
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    background-color: rgb(54, 56, 63);
    color: rgb(255, 255, 255);
    font-weight: 550;
    border: none;
    white-space: nowrap;
}

.right-column > .nav-btn-wrapper > .dropdown > .dropbtn i {
    color: rgb(97, 206, 121);
}